<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header(title)">
    <div class="full-width-header">
        <div class="container">
            <div class="header-content">
                <h1 class="title is-3" th:text="${title}">Page Title</h1>
                <button id="aboutButton" class="button is-info is-outlined">
                    <span class="icon">
                        <i class="fas fa-info-circle"></i>
                    </span>
                    <span>About</span>
                </button>
            </div>
        </div>
    </div>
</th:block>
</html>