<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Sections')}"></head>
<body>
    <th:block th:insert="~{fragments/navbar :: navbar}"></th:block>
    <th:block th:insert="~{fragments/header :: header('Sections')}"></th:block>
    <section class="section py-small">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-10">
                    <div class="table-container">
                        <table class="table is-fullwidth is-striped is-hoverable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Grade Level</th>
                                    <th>Strand</th>
                                    <th>Section Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="structure : ${structures}" th:onclick="'window.location.href = \'' + @{/sections/edit/{id}(id=${structure.id})} + '\''" class="clickable-row">
                                    <td th:text="${structure.id}"></td>
                                    <td th:text="${structure.gradeLevel}"></td>
                                    <td th:text="${structure.strand}"></td>
                                    <td th:text="${structure.sectionName}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:insert="~{fragments/fab :: fab('/sections/new')}"></th:block>
        <th:block th:insert="~{fragments/about-modal :: aboutModal}"></th:block>
    </section>
</body>
</html>