<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Classroom Layouts')}"></head>
<body>
    <th:block th:insert="~{fragments/navbar :: navbar}"></th:block>
    <th:block th:insert="~{fragments/header :: header('Classroom Layouts')}"></th:block>
    <section class="section py-small">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-10">
                    <div class="table-container">
                        <table class="table is-fullwidth is-striped is-hoverable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Rows</th>
                                    <th>Columns</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="layout : ${layouts}" th:onclick="'window.location.href = \'' + @{/layouts/edit/{id}(id=${layout.id})} + '\''" class="clickable-row">
                                    <td th:text="${layout.id}"></td>
                                    <td th:text="${layout.name}"></td>
                                    <td th:text="${layout.rows}"></td>
                                    <td th:text="${layout.columns}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:insert="~{fragments/fab :: fab('/layouts/new')}"></th:block>
        <th:block th:insert="~{fragments/about-modal :: aboutModal}"></th:block>
    </section>
</body>
</html>