<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Seat Assignments')}"></head>
<body>
    <th:block th:insert="~{fragments/navbar :: navbar}"></th:block>
    <th:block th:insert="~{fragments/header :: header('Seat Assignments')}"></th:block>
    <section class="section py-small">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-10">
                    <div class="box mb-4">
                        <form action="/assignments" method="get" class="field">
                            <label class="label">Select Section:</label>
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select id="sectionSelector" name="sectionId">
                                        <option value="">-- Select a Section --</option>
                                        <option th:each="section : ${sections}"
                                        th:value="${section.id}"
                                        th:text="${section.sectionName}"
                                        th:selected="${param.sectionId != null and #strings.equals(param.sectionId, section.id)}"></option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="table-container" th:if="${assignments != null}">
                        <table class="table is-fullwidth is-striped is-hoverable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Student</th>
                                    <th>Layout</th>
                                    <th>Row</th>
                                    <th>Column</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="assignment : ${assignments}" th:onclick="'window.location.href = \'' + @{/assignments/edit/{id}(id=${assignment.id},sectionId=${param.sectionId})} + '\''" class="clickable-row">
                                    <td th:text="${assignment.id}"></td>
                                    <td th:text="${assignment.student.firstName + ' ' + assignment.student.lastName}"></td>
                                    <td th:text="${assignment.classroomLayout.name}"></td>
                                    <td th:text="${assignment.rowNumber}"></td>
                                    <td th:text="${assignment.columnNumber}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:if="${param.sectionId != null}" th:insert="~{fragments/fab :: fab(@{/assignments/new(sectionId=${param.sectionId})})}"></th:block>
        <th:block th:insert="~{fragments/about-modal :: aboutModal}"></th:block>
    </section>
    <script src="/js/section.js"></script>
</body>
</html>